<%= link_to 'Add wallet', Wallet, method: :post %>
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.address %></td>
        <td>
          <%= link_to 'Remove', wallet, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
